<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="home">
    <div><img src="https://img.icons8.com/color/50/000000/airplane-window-open.png" alt="">SKY</div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarFeaturesDropdownMenu" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Features</a>
        <div class="dropdown-menu" aria-labelledby="navbarFeaturesDropdownMenu">
          <a class="dropdown-item" routerLink="airlines"  [routerLinkActive]="['airlines']">Airlines</a>
          <a class="dropdown-item" routerLink="hotels" [routerLinkActive]="">Hotels</a>
          <a class="dropdown-item" routerLink="rentAcarServices">Rent a Car services</a>
          <a class="dropdown-item" routerLink="destinations" *ngIf="userRole === 'ROLE_ADMIN' || userRole === 'ROLE_ADMIN_AIRLINE'">Destinations</a>
        </div>
      </li>


    </ul>

    <ul id="user" class="navbar-nav ml-auto" style="margin-right: 5%">
        <li class="nav-item active" *ngIf="userRole === ''">
          <a class="nav-link" routerLink="logIn">Log In </a>
        </li>
        <li class="nav-item active" *ngIf="userRole === ''">
            <a class="nav-link" routerLink="register">Register </a>

        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="userRole !== ''">
          <a class="nav-link dropdown-toggle" href="#" id="loggedUserDropdown" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false" ><img style="width: 35px;height: 35px" src="https://img.icons8.com/ultraviolet/40/000000/gender-neutral-user.png"></a>
          <div class="dropdown-menu" aria-labelledby="navbarFeaturesDropdownMenu" style="width: fit-content">
            <a class="dropdown-item" routerLink=profile>Profile</a>
            <a class="dropdown-item" *ngIf="userRole !== ''" (click)="logout()">Log out</a>




          </div>
        </li>
    </ul>
  </div>
</nav>
