<button style="margin-left: 95%" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample" *ngIf="userRole === 'ROLE_ADMIN_AIRLINE' || userRole === 'ROLE_ADMIN'">New</button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <form (submit)="createDestination()">
      <div class="form-group row">
        <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName3" placeholder="Name" [(ngModel)]="destination.name" name="name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputShortName3" class="col-sm-2 col-form-label">Short name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputShortName3" placeholder="Short name" [(ngModel)]="destination.shortName" name="shortName">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputName3" class="col-sm-2 col-form-label">Address</label>
        <div  class="col-sm-10">
          <input placeholder="search for location"  autocomplete="true" autocapitalize="off" spellcheck="false" type="text" class="form-control" #search [formControl]="searchControl">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputACountry3" class="col-sm-4 col-form-label">Country</label>
            <input type="text" readonly="readonly" class="form-control" id="inputACountry3" placeholder="Country" aria-multiline="true" [(ngModel)]="destination.address.country" name="country">
          </div>
          <div class="form-group">
            <label for="inputCity3" class="col-sm-4 col-form-label">City</label>
            <input type="text" readonly="readonly" class="form-control" id="inputCity3" placeholder="City" aria-multiline="true" [(ngModel)]="destination.address.city" name="city">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputStreet3" class="col-sm-4 col-form-label">Street</label>
            <input type="text" readonly="readonly" class="form-control" id="inputStreet3" placeholder="Street" aria-multiline="true" [(ngModel)]="destination.address.street" name="street">
          </div>
          <div class="form-group">
            <label for="inputAddressNumber3" class="col-sm-4 col-form-label">Number</label>
            <input type="text"  readonly="readonly" class="form-control" id="inputAddressNumber3" placeholder="Street number" aria-multiline="true" [(ngModel)]="destination.address.addressNumber" name="addressNumber">
          </div>
        </div>
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>

      <br />
      <div class="form-group row" align="right">
        <div class="col-sm-10">
          <button type="submit"  class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>

  </div>
</div>
<br/>
<br/>

<div class="list-group">
  <a  *ngFor="let destination of destinations" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{destination.name}}</h5>
      <small>{{destination.shortName}}</small>
    </div>
    <p class="mb-1">{{destination.address.country}}, {{destination.address.city}}</p>
    <!-- <small>Donec id elit non mi porta.</small>-->
  </a>
</div>
